# App
BASE_URL=http://localhost:8000

# Redis
REDIS_CACHE_HOST=localhost
REDIS_CACHE_PORT=6379
REDIS_CACHE_USE_SSL=0
REDIS_CACHE_PASSWORD=
REDIS_CACHE_DB=0
REDIS_CACHE_URL=redis://localhost:6379/0

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=shorturl
POSTGRES_USER=shorturluser
POSTGRES_PASSWORD=yourpassword
DATABASE_URL=postgresql://shorturluser:yourpassword@localhost:5432/shorturl

# Logging
LOG_LEVEL=20
SQL_LOG_LEVEL=30

# Security
APP_API_TOKEN=generate-with-python-secrets
ADMIN_URL=/your-secret-admin-path
DB_NAME=shorturl.db